.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 40px;

  background: #111;

  color: white;

  position: sticky;
  top: 0;

  z-index: 1000;

  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

/*cart link*/
.cart-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
   font-size: 16px;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -17px;

  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGO */
.header-logo a {
  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  color: white;

  font-size: 1.5rem;
  font-weight: bold;
}

.logo-icon {
  color: #ff5722;
}

/* NAVIGATION */
.desktop-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.desktop-nav a {
  text-decoration: none;
  color: #ddd;

  font-weight: 500;

  transition: 0.3s;

  display: flex;
  align-items: center;
  gap: 6px;
}

.desktop-nav a:hover {
  color: #ff5722;
}

/* USER SECTION */
.user-section {
  display: flex;
  align-items: center;
}

/* USER INFO */
.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile img {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  object-fit: cover;

  border: 2px solid #ff5722;
}

.default-user {
  font-size: 38px;
  color: #ccc;
}

.user-info button {
  background: #ff5722;
  border: none;

  padding: 10px 18px;

  border-radius: 6px;

  color: white;
  cursor: pointer;

  transition: 0.3s;
}

.user-info button:hover {
  background: #e64a19;
}

/* AUTH */
.auth-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.auth-links a {
  text-decoration: none;
  color: white;
}

.register-btn {
  background: #ff5722;
  padding: 10px 18px;
  border-radius: 6px;

  transition: 0.3s;
}

.register-btn:hover {
  background: #e64a19;
}

/* MOBILE */
@media (max-width: 900px) {

  .header {
    flex-direction: column;
    gap: 20px;

    padding: 20px;
  }

  .desktop-nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-info {
    flex-direction: column;
  }

}